*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* C:\CAINPCB\ECB_BF532\BF532_V2\ECB_532_V3.MAX  *
* Thu Jun 17 09:00:10 2010                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      396      200      100                                                                                 
T2       315      96       200      100                                                                                 
T3       340      16       200      100                                                                                 
T4       354      2        200      100                                                                                 
T5       394      8        200      100                                                                                 
T6       417      2        200      100                                                                                 
T7       531      2        200      100                                                                                 
T8       590      2        200      100                                                                                 
T9       630      4        200      100                                                                                 
T10      1100     3        200      100                                                                                 
