**********************************************
*                                            *
* DRILL TAPE SUMMARY REPORT                  *
*                                            *
* C:\CAINPCB\ECB_BF532\BF532_V1\ECB_532.MAX  *
* Tue May 31 05:23:28 2011                   *
*                                            *
**********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      306      200      100                                                                                 
T2       315      50       200      100                                                                                 
T3       340      17       200      100                                                                                 
T4       417      2        200      100                                                                                 
T5       531      2        200      100                                                                                 
T6       1100     3        200      100                                                                                 
