*******************************************************
*                                                     *
* DRILL TAPE SUMMARY REPORT                           *
*                                                     *
* C:\CAINPCB\ECB_BF532\AUDIO_CODEC\AUDIO_BOARD-5.MAX  *
* Tue May 31 05:22:44 2011                            *
*                                                     *
*******************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      103      200      100                                                                                 
T2       315      50       200      100                                                                                 
T3       420      2        200      100                                                                                 
